@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i');


html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family:"Source Sans Pro", sans-serif;
    background-color: #ebebeb;
}

.print {
    border: solid 1px red;
}

.navbar-task .navbar-brand {
    font-family: 'Open Sans';
    color: #fff;
    font-weight: lighter;
}
.logo {
    height: 30px;
    width: auto;
    display: inline-block;
}


.task .estado{
    font-size: 1rem;
    line-height: 35px;
    text-align: center;
    display: block;
    width: 100%;
    color: #fff;
    border-radius: 100px 0 0 100px;
}
.task .fecha{
    font-size: 0.8rem;
    line-height: 35px;
    margin: 0 15px;
    display: block;
    color: #747474;
    width: 100%;
    font-weight: bolder;
    text-align: center;
}

.comentario{
    border-bottom: solid 1px #eee;
}
.comentario label{
    margin-top: 5px;
}
.comentario label:first-child{
    margin-top: initial;
}

.comentario:last-child {
    border-bottom: initial;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #19A5E6;
}